<div class="comment" id="comment-{{id}}" data-comment-id="{{id}}">
  <div class="comment-header">
    <strong>{{#if author}}{{author.nickname}}{{else}}Удалённый пользователь{{/if}}</strong>
    <span class="meta">{{formatDate createdAt}}</span>
  </div>
  <p>{{content}}</p>
  {{#if showActions}}
    <div class="comment-actions">
      <a href="/discussions/{{discussionId}}/comments/{{id}}/edit" class="btn btn-sm">Редактировать</a>
      <button class="btn btn-sm btn-danger delete-comment-btn" onclick="deleteComment({{discussionId}}, {{id}})">Удалить</button>
    </div>
  {{/if}}
</div>
